$itemGrow: 1.2;
$duration: 250ms;

.movies_carousel {
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: black;

    @include breakpoint(md) {
        height: 150px;
    }

    &__container {
        display: flex;
        //   grid-template-columns: repeat(2, 1fr);
        //   overflow: scroll;
        height: 100%;
        padding: 0 2rem 0 2rem;
        transition: transform 0.3s ease-in-out;
        scroll-behavior: smooth;
        gap: 0.5rem;

        @include breakpoint(md) {
            // padding: 0 3rem 0 3rem;
            scroll-behavior: smooth;
        }

    }

    &__movie {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        border-radius: 2px;
        //   transition: opacity 0.3s ease-in-out;
        transition: $duration all;

        &:hover {

            // opacity: 1;
            // transform: scale(1.2);
            .video {
                display: block;
            }

            visibility:none;
        }

        .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // display: none;
            display: none;
            transform: scale(1.2);
        }

        // &.active {
        //   opacity: 1;
        // }

        &_title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            font-size: 18px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            border-radius: 5px;
        }
    }

    &__prev,
    &__next {

        align-items: flex-end;
        position: absolute;
        z-index: 1;
        top: 50%;
        // width: 100%;
        transform: translateY(-50%);
        border: none;
        outline: none;
        cursor: pointer;
        color: #ffffff96;
        text-decoration: none;
        font-size: 4rem;
        background: rgba(0, 0, 0, 0);
        font-weight: 100;

        &:hover {
            color: rgb(255, 255, 255);
        }

        @include breakpoint(md) {
            color: #ffffff96;
        }
    }

    &__prev {
        // visibility: hidden;
        left: 0px;


        @include breakpoint(md) {
            visibility: visible;
            // left: -10px;
        }
    }

    &__next {
        // visibility: hidden;
        // display: none;
        right: 0px;

        @include breakpoint(md) {
            visibility: visible;
            // right: -10px;
        }
    }
}


//MOBILE CAROUSEL CSS BEGINS HERE

.mobile_movies_carousel {
    position: relative;
    width: 100%;
    height: 100px;
    // overflow: scroll;
    // overflow-x: visible;
    padding-top: 1rem;
    // padding-bottom: 2rem;
    background-color: black;
    


    &__container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 100%;
        padding: 0 1rem 0 1rem;
        transition: transform 0.3s ease-in-out;
        overflow-y: hidden;
        scroll-behavior: smooth;
        gap: 0.5rem;

        @include breakpoint(md) {
            // padding: 0 3rem 0 3rem;
            scroll-behavior: smooth;
        }
    }

    &__movie {
        flex: 0 0 auto;
        width: 160px;
        height: 100%;
        // margin-right: 10px;
        position: relative;
        // width: 100px;
        // height: 100px;
        background-size: cover;
        background-position: center;
        opacity: 1;
        border-radius: 2px;
        // transition: opacity 0.3s ease-in-out;
        transition: $duration all;

        &:active {
            opacity: 1;
            z-index: 1;
            transform: scale(1.1);

            .video {
                display: block;
            }
        }

        .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // display: none;
            display: none;
            transform: scale(1.2);
        }

        // &.active {
        //   opacity: 1;
        // }

        &_title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            font-size: 18px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            border-radius: 5px;
        }
    }
}

.singleMovie{
    display: flex;
    flex-direction: column;
    padding: 1px;
    color: white;
    overflow-y: scroll;
    
    
    .imageBox{
        width: 100vw;
        position: relative;
        background-color: aliceblue;
        height: 200px;
        border-radius: 25px 25px 0 0;
        &>img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 25px 25px 0 0;
        }
        @include breakpoint(md) {
            height: 300px;
        }
    }
    .descriptionBox{
        display: flex;
        padding: 1rem 0;

        .mainInfo{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            padding: 0 2rem;
            .LastDayWatch{
                font-size: larger;
                font-weight: 600;
            }
            &>div>img{
                filter: invert(80%);
                padding: 0.5rem 0.5rem 0 0;
            }
            &>text{
                display: -webkit-box;
                -webkit-line-clamp: 7; /* Number of lines to display */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .secondInfo{
            display: flex;
            flex-direction: column;
            padding: 0;
            &>div>p{
                color: $base-text
            }
            width: 50%;
        }
    }
}

.grayText{
    color: $base-text
}
.some{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    top: 2rem;
    left: 0;
    // z-index:10000000;
}
.playButton{
    position: absolute;
    top: 150px;
    right: 10px;
    padding: 0.2rem 1rem;
    background-color: $base-gray-cover;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &>img{
        filter: invert(100%);
        
    }
    &>button{
        font-family: Arial, Helvetica, sans-serif;
        background-color: $base-gray-cover;
        font-weight: 700;
        font-size: larger;
    }
}