.container{
    background-color: $base-gray;
    width: 100vw;
    height: 100vh;
    .videoPlayback{
        width: 100vw;
        height: 100vh;
    }
}

.loadingContainer {
    width: 100vw;
    height: 100vh;
    @include center-content();

    .loading{
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #879aa7; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
}

.backButton{
    position: absolute;
    left: 10px;
    top:10px;
    background-color: $base-gray-border;
    font-weight: 600;
    font-size: medium;
    padding: 0.5rem;
}