.Wrapper {
    height: 100vh;
    // background-color: rgb(223, 247, 247);
    // padding: 0 2rem 0 2rem;
}

.ProfileContainer {
    padding: 4rem 2rem 0 2rem;
    // padding-top: 4rem;
    @include center-content();
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    align-items: flex-start;

    .Account {
        display: flex;
        // align-items: flex-start;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        border: 1px solid gray;

        &>div>p {
            padding: 0 1rem 0 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            color: rgb(173, 169, 169);
        }

        &>div>ul {
            padding: 0 1rem 0 1rem;

            &>li {
                list-style-type: none;
                padding-top: 0.5rem;
                color: rgb(173, 169, 169);
                font-weight: 500;

            }
        }

        .ChangeButtons {
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            padding: 0 1rem 0 1rem;

            &>button {
                text-align: start;
                border-top: 1px solid gray;
                background-color: rgb(255, 255, 255);
                color: rgb(114, 114, 114);
                font-weight: 500;
                font-size: large;
                padding-top: 1.5rem;
                cursor: pointer;
            }
        }

    }
}

.Billing {
    display: flex;
    flex-direction: column;

    &>ul {
        padding: 0 1rem 0 1rem;

        &>button {
            text-align: start;
            border-top: 1px solid gray;
            background-color: rgb(255, 255, 255);
            color: rgb(114, 114, 114);
            font-weight: 500;
            font-size: large;
            width:100%;
            padding-top: 1.5rem;
            cursor: pointer;
        }
    }

}

.Gifts {
    padding: 0 1rem 0 1rem;

    &>button {
        text-align: start;
        // border-top: 1px solid gray;
        background-color: rgb(255, 255, 255);
        color: rgb(114, 114, 114);
        font-weight: 500;
        font-size: large;
        width:100%;
        padding-top: 1.5rem;
        cursor: pointer;
    }

}

.divider {
    height: 1px;
    margin: 1rem;
    // width: 100%;
    background-color: #2c2c2c;
}
.CancelMembership{
    width:100%;
    font-size:larger;
    height: 2.5rem;
    background-color: rgb(146, 144, 144);;
    // width: fit-content;
    padding: 0 1rem 0 1rem;
    border-radius: 0;
}