.loggedContainerProfileMenu{
    position: absolute;
    color:#ffffff;
    top: 100%;
    // padding: 1rem;
    right: 0;
    border: 1px solid $base-gray-border;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;

    
    // height: 100px;
    @include breakpoint(md) {
        width: 15vw;
    }
}
.Users{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid $base-gray-border;
    background-color: #000000;
    // list-style-type: none;
    // width: 100%;
    &>div>img{
        padding-right: 0.5rem;
    }
}
.Kids{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid $base-gray-border;

    &>a{
        text-decoration: none;
        color: #ffffff;
    }
    
    &>a>div>img{
        filter: invert(100%);
        padding-top: 1rem;
        padding-right: 0.5rem;
        

    }
}