.siteHeader {
    // width: 100vw;
}

.container {
    // width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    //rgba(0, 0, 0, 0.541);
    display: flex;
    // justify-content: space-between;

    padding: 1rem;
    height: 80vh;

    @include breakpoint(md) {
        padding: 1rem 2rem;
    }

    @include breakpoint(lg) {
        padding: 1rem 3rem;
    }

    @include breakpoint(xl) {
        padding: 1rem 7.5rem;
    }

    @include breakpoint(xxl) {
        padding: 1rem 5rem;
    }
}

.navigationContainer {
    width: 100%;
    // position: fixed;
    // z-index: 9999;
    // background-color: rgba(0, 0, 0, 0.295);
    // @include center-content();
    flex-direction: column;

}
.loggedContainer {
    width: 100vw;
    // height: 100vh;
    background-color: rgb(0, 0, 0);

}

.loggedContainerNav {
    padding: 0.5rem 1rem 0.5rem 1rem;
    // position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000bb;
    color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &Left {
        display: flex;
        align-items: center;

        &>div>a{
            width: 60%;
            >img {
                width: 80%;
                object-fit: contain;
                @include breakpoint(md) {
                    width: 100%;
                }
            }
        }

        &>div>div {
            display: none;
            @include breakpoint(md) {
                display: block;
            }
        }
        .navItems{
            display: none;
            @include breakpoint(md) {
                display: flex;
                flex-wrap: nowrap;
                padding: 0 0.5rem 0 0.5rem;
            }
        }
    }

    &Right {

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        // height: 100%;
        &>input {

            background-color: #000000;
            border: 1px solid #fff8f8;
            padding: 0.5rem;
            // align-self: center;
            width: 60%;

        }

    }
    
}
.videoContainer {
    position: relative;
}

.videoOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color:white;
    align-self: flex-start;
    //make always sticky
    // position: sticky;
    top: 0;
    z-index: 1;
    // background-color: rgba(0, 0, 0, 0.541);


    // width: 100vw;
    &>div>a>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        gap: 1rem;
        @include breakpoint(md) {
            width: 140%;
            height: 100%;
            font-size: 3rem;
        }
    }


}

.navTitle {

    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: small;

    // align-items: flex-end;
    @include breakpoint(md) {
        font-size: x-large;

    }
}

.languageSelect {
    display: flex;
    align-items: center;

    &>a>button {
        margin-left: 1rem;
        padding: 0.5rem;
    }

}


.some {
    background-color: rgba(226, 20, 20, 0);
    color: white;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;


    &>img {
        filter: invert(100%);
        padding-top: 0.3rem;
    }

    &>select {
        appearance: none;

        // display: none;
        @include breakpoint(md) {
            display: inherit;
            appearance: auto;

        }

        color: white;
        background-color: rgba(0, 0, 0, 0);
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        border: none;
    }
}

.getStartedContainer {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 1rem;

    // flex-direction: column;
    @include center-content();

    @include breakpoint(md) {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
    }

    // .getStartedContainer input{
    //     height: 2rem;
    // }
    &>input {
        height: 3rem;
        border: 1px solid;
        color: white;
        border-color: #817e7e;
        background-color: rgba(0, 0, 0, 0.541);
        // background-color: aliceblue;
        border-radius: 5px;
        padding-right: 6rem;
        padding-left: 0.5rem;
    }

    &>button {
        font-weight: 700;
        font-size: larger;
        height: 3rem;
        padding: 0 1rem 0 1rem;

    }
}

.divider {
    height: 0.5rem;
    width: 100%;
    background-color: #2c2c2c;
}

.moreOptions {
    height: 50vh;
    padding: 2rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    @include center-content();
    color: white;
    font-size: small;


    .lgViewImage {
        display: none;
    }

    @include breakpoint(md) {
        font-size: larger;
        display: flex;
        flex-direction: row;

        .lgViewImage {
            display: block;
        }

        .mobileViewImage {
            display: none;
        }
    }

}

.questions {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}